VocalBrain/.idea/.name
VocalBrain/.idea/compiler.xml
VocalBrain/.idea/copyright/profiles_settings.xml
VocalBrain/.idea/encodings.xml
VocalBrain/.idea/gradle.xml
VocalBrain/.idea/misc.xml
VocalBrain/.idea/modules.xml
VocalBrain/.idea/runConfigurations.xml
VocalBrain/.idea/vcs.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/modules.xml
.idea/workspace.xml
.idea/workspace.xml